@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    
}

:root{
    --pri-color: #6FE5B1;
    --sec-color: #CFFFEA;
    --ter-color: #231F20;
    --qua-color: #000000;
    --qui-color: #FFFFFF;
    --sex-color: #333333;
}

body, html{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: var(--qua-color);        
   color: var(--qui-color);
}

.login-container{
    width: 390px;
    height: 844px;
    padding: 45px;
    border-radius: 16px;
    background-color: var(--sex-color);
}

.login-container h1 {
    font-size: 32px;
    margin-bottom: 50px;
    margin-top: 80px;
    font-weight: normal;
    text-shadow: 0px 4px 4px var(--qua-color);
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group{
    display: flex;
    align-items: center;
    background-color: var(--pri-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px var(--qua-color);
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    
}

.input-group span{
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
}

.input-group span img{
    width: 36px;
    height: 36px;
}

.input-group input{
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: var(--pri-color);
    color: var(--qui-color);
    outline: none;
}

.forgot-password{
    font-size: 12px;
    color: var(--qui-color);
    text-decoration: none;
    align-self: flex-end;
    margin-bottom: 15px;
}

.btn-login {
    background-color: var(--pri-color);
    color: var(--qua-color);
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px var(--qua-color);
    cursor: pointer;
}

.btn-login:hover{
    background-color: var(--sec-color);
}

.login-form a {
    text-decoration: underline var(--pri-color);
}

.divider{
    font-size: 12px;
    color: var(--qui-color);
    margin: 15px 0;
    align-self: center;
}

.btn-google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--sec-color);
    box-shadow: 0px 4px 4px var(--qua-color);
    color: var(--qua-color);
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn-google img{
    width: 24px;
    height: 24px;
}

.btn-google:hover{
    background-color: var(--pri-color);
}

.signup-text {
    font-size: 14px;
    color: var(--qui-color);
    margin-top: 10px;
    text-shadow: 0px 4px 4px var(--qua-color);
}

.signup-text a {
    color: var(--qui-color);
    text-decoration: underline var(--pri-color);
    text-shadow: 0px 4px 4px var(--qua-color);
}