.container-index{
    position: relative;
    text-align: center;
    overflow: hidden;
}

.gradiente-ellipse{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 493px;
    height: 300px;
    background-color: var(--pri-color);
    opacity: 5.3;
    border-radius: 50%;
    filter: blur(70px);
    z-index: 1;
}

.content h1{
    font-size: 24px;
    color: var(--qui-color);
    padding-top: 230px;
    margin-bottom: -8px;
    margin-top: 80px;
}

.content h2{
    margin-left: 8px;
    margin-top: -8px;
    margin-bottom: 30px;
    
}

.content button{
    margin-top: 150px;
}