
h1 {
    margin: 80px 0;
}

.input-group span{
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
}

.input-group span img{
    width: 36px;
    height: 36px;
}
 
.forgot-password{
    font-size: 14px;
    color: var(--qui-color);
    text-decoration: none;
    align-self: flex-end;
    margin-bottom: 15px;
}

.btn-login{
    font-size: 16px;
}

.login-form a {
    text-decoration: underline var(--pri-color);
}

.divider{
    font-size: 14px;
    color: var(--qui-color);
    margin: 15px 0;
    align-self: center;
}

.btn-google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    padding: 16px;
}

.btn-google img{
    width: 24px;
    height: 24px;
}



